<header class="header">
    <div class="container header-container">
        <nav class="header-navigation">
            <a class="header-logo" href="./index.html">
                <svg class="icon-logo-svg">
                    <use href="../images/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="header-list">
                <li class="header-item">
                    <a class="header-link" href="./dessert.html">Солодощі</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="./about.html">Про нас</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="./feedback.html">Відгуки</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="./faq.html">Часті питання</a>
                </li>
            </ul>
        </nav>
        <a class="nav-button" href="./dessert.html">
            <span class="button-text">До покупок</span>
            <svg class="burger-icon" width="24" height="24">
                <use href="../images/icons.svg#icon-menu"></use>
            </svg>
        </a>
    </div>
</header>
