@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.hidden {
    display: none;
}

.disabled-btn {
    opacity: 0.5;
    pointer-events: none;

}


/*---------------------spinner animation---------------------------------*/

@keyframes spinner-line-fade-more {
    0%, 100% {
        opacity: 0; /* minimum opacity */
    }
    1% {
        opacity: 1;
    }
}

@keyframes spinner-line-fade-quick {
    0%, 39%, 100% {
        opacity: 0.25; /* minimum opacity */
    }
    40% {
        opacity: 1;
    }
}

@keyframes spinner-line-fade-default {
    0%, 100% {
        opacity: 0.22; /* minimum opacity */
    }
    1% {
        opacity: 1;
    }
}

@keyframes spinner-line-shrink {
    0%, 25%, 100% {
        /* minimum scale and opacity */
        transform: scale(0.5);
        opacity: 0.25;
    }
    26% {
        transform: scale(1);
        opacity: 1;
    }
}

/*-------------------end spinner animation----------------------------*/
.desserts{
    background-color: #F5FDFD;
}


.dessert-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

p.dessert-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}

.category-list {
    display: none;
}

.category-select {
    width: 100%;
    max-width: 375px;
    padding: 8px 12px;
    border: 2px solid #202424;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path d="M1 1l5 5 5-5" stroke="%23333" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 12px 8px;
    margin-bottom: 40px;
}

.desserts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    position: relative;
    margin-bottom: 40px;
}

.dessert-item {
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    padding: 16px;
    border: 1px solid #080C0C;
    border-radius: 16px;

}

.dessert-img {
    width: 100%;
    height: 228px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 16px;
}

.dessert-category {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #080C0C;
    line-height: 1.5;
    margin-bottom: 12px;
}

.dessert-name {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}

.dessert-description {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #080C0C;
    line-height: 1.5;
    margin-bottom: 8px;
}

.dessert-details {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dessert-price {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.dessert-details-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: none;
    border: 2px solid #080C0C;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.dessert-details-btn:hover {
    background-color: #F19898;
}
.dessert-details-btn:active {
    background-color: #F5B6B6;
}

.load-more-btn {
    background-color: #F19898;
    outline: none;
    cursor: pointer;
    border: 2px solid #F19898;
    width: 100%;
    border-radius: 100px;
    padding: 12px 24px;
    height: 44px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #080C0C;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.load-more-btn:hover {
    border-color: #080C0C;
}

.load-more-btn:active {
    background-color: #F5B6B6;
}


@media screen and (min-width: 768px) {
    .desserts-header {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 20px;
    }

    .dessert-title {
        text-align: left;
    }

    p.dessert-subtitle {
        text-align: left;
    }

    .category-select {
        width: 265px;
    }

    .desserts-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px 16px;
        margin-bottom: 40px;
    }

    .dessert-item {
        margin-bottom: 0;
        width: calc((100% - 16px) / 2);
    }

    .load-more-wrapper{
        display: flex;
        justify-content: center;
    }

    .load-more-btn {
        width: 344px;
    }
}

@media screen and (min-width: 1440px){
    .desserts-header{
        flex-direction: column;
        align-items: center;
        gap:40px;
        margin-bottom: 40px;
    }
    .dessert-title{
        text-align: center;
        margin-bottom: 24px;
    }

    p.dessert-subtitle{
        text-align: center;
        margin-bottom: 0;
    }

    .category-select{
        display: none;
    }

    .category-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px 24px;
    }

    .category-btn{
        outline: none;
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #080C0C;
        border-radius: 100px;
        padding: 10px 24px;
        transition: background-color 0.3s ease;
    }

    .category-btn.active {
        background-color: #C07979;
    }


    .desserts-list{
        gap: 40px 24px;
    }

    .dessert-item{
        width: calc((100% - (24px * 3)) / 4);
    }



}


